/* type selector */
body {
    margin: 10px;
}

/* relational selector */
#products > p {
    color: orange;
}

/* paragraph after */
/* #products + p {
    color: orange;
} */

/* all paragraphs that come after products section */
#products ~ p {
    color: orange;
}
